/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
/* Global Styles - styles.css */
body {
  background: #000000 !important;
  margin: 0;
  padding: 0;
  color: #e8e6f0;
}

* {
  box-sizing: border-box;
}